<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Audio Transcription" Manufacturer="YuKobayashi" Version="2.0.0.3" UpgradeCode="7C41BEBD-0763-4844-8F49-BF5995E1D816" Scope="perMachine">
    <MediaTemplate EmbedCab="yes" />

    <!-- 古いバージョンの自動削除やダウングレード防止設定 -->
    <MajorUpgrade DowngradeErrorMessage="より新しいバージョンの Audio Transcription が既にインストールされています。" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="AudioTranscription" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="AudioTranscription" />
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Files Include="publish\**" />
    </ComponentGroup>

    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="Audio Transcription"
                Description="Start Audio Transcription"
                Target="[INSTALLFOLDER]AudioTranscription.exe"
                WorkingDirectory="INSTALLFOLDER"/>
      <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKMU" Key="Software\YuKobayashi\AudioTranscription" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

    <Feature Id="MainFeature">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
